[workspace]

members = [
    "limbo_pass",
]
default-members = ["limbo_pass"]
resolver = "2"

[profile.release]
opt-level = "z"     # Optimize for size
lto = "fat"         # Link-time optimization
codegen-units = 1   # Better optimization, slower compile
strip = "symbols"   # Strip symbols
